html {
    background: #78C6FA;
}    	

/* Colors from Alligator Eraser theme: http://kuler.adobe.com/#themeID/953690 
 * 	background: #384C3A;
 *	color: #D97C71;
 */
.main{
	color: #000000;
	padding: 0;
	margin: 0;
	width: 99%;
    text-align: center;
    vertical-align: center;    
    font-size: 21em;
	-webkit-text-size-adjust: none; 
	-webkit-tap-highlight-color: transparent;
}

a:link {text-decoration: none; color: #D97C71; font-family: Verdana,Courier,Arial,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}
a:visited {text-decoration: none; color: #D97C71; font-family: Verdana,Courier,Arial,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}
a:active {text-decoration: none; color: #D97C71; font-family: Verdana,Courier,Arial,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}
a:hover {text-decoration: none; color: #D97C71; font-family: Verdana,Courier,Arial,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}


#controls {
    font-size: 40px;
    text-align: center;
    vertical-align: bottom;
}