html {
    background: #78C6FA;
}    	

/* Colors from Alligator Eraser theme: http://kuler.adobe.com/#themeID/953690 
 * 	background: #384C3A;
 *	color: #D97C71;
 */

body {	
	color: #000000;
	padding: 0;
	margin: 0;
	width: 99%;
	height: 460px;
	max-height: 460px;
    text-align: center;
    font-family: Verdana,Courier,Arial,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-size: 21em;
	-webkit-text-size-adjust: none; 
	-webkit-tap-highlight-color: transparent;
}

input {
	font-size: 16px;
}

button {
	font-size: 16px;
}

select {
    font-size: 16px;
}

a:link {text-decoration: none; color: #D97C71; font-family: Verdana,Courier,Arial,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}
a:visited {text-decoration: none; color: #D97C71; font-family: Verdana,Courier,Arial,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}
a:active {text-decoration: none; color: #D97C71; font-family: Verdana,Courier,Arial,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}
a:hover {text-decoration: none; color: #D97C71; font-family: Verdana,Courier,Arial,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

#info {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 13px;
    height: 13px;
}


.main {
    text-align: center;
    width: 100%;
    height: 90%;
    vertical-align: center;
}

#settings {
    font-size: 12px;
}

#controls {
    font-size: 40px;
    text-align: center;
    vertical-align: bottom;
}